body {
    background-color: darkturquoise;
    font-family: tahoma;
    font-size: 20px;
    color: azure;
}
h1{
    color: lightblue;
    text-align: center
    
    
        
}
ul {
    font-family: georgia;
    font-style: italic;
    color: indianred;
    
} 

    


